policy_module(worm, 1.100.1)

########################################
#
# Declarations
#

type worm_t;
type worm_exec_t;
init_daemon_domain(worm_t, worm_exec_t)

permissive worm_t;

type worm_initrc_exec_t;
init_script_file(worm_initrc_exec_t)

type worm_conf_t;
files_type(worm_conf_t)

type worm_var_lib_t;
files_type(worm_var_lib_t)

type worm_var_run_t;
files_type(worm_var_run_t)

type worm_port_t;
corenet_port(worm_port_t)

########################################
#
# worm local policy
#
allow worm_t self:process { fork };

allow worm_t self:fifo_file rw_fifo_file_perms;
allow worm_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(worm_t, worm_conf_t, worm_conf_t)
manage_files_pattern(worm_t, worm_conf_t, worm_conf_t)

manage_dirs_pattern(worm_t, worm_var_lib_t, worm_var_lib_t)
manage_files_pattern(worm_t, worm_var_lib_t, worm_var_lib_t)
files_var_lib_filetrans(worm_t, worm_var_lib_t, { dir file })

manage_dirs_pattern(worm_t, worm_var_run_t, worm_var_run_t)
manage_files_pattern(worm_t, worm_var_run_t, worm_var_run_t)

sysnet_dns_name_resolve(worm_t)
corenet_all_recvfrom_unlabeled(worm_t)

allow worm_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(worm_t)
corenet_tcp_sendrecv_generic_node(worm_t)
corenet_tcp_sendrecv_all_ports(worm_t)
corenet_tcp_bind_generic_node(worm_t)

gen_require(`
    type worm_port_t;
')
allow worm_t worm_port_t:tcp_socket name_bind;

gen_require(`
    type worm_port_t;
')
allow worm_t worm_port_t:tcp_socket name_connect;

domain_use_interactive_fds(worm_t)

files_read_etc_files(worm_t)

miscfiles_read_localization(worm_t)

sysnet_dns_name_resolve(worm_t)

allow worm_t worm_exec_t:file execute_no_trans;
allow worm_t self:process setsched;
corecmd_exec_ls(worm_t)
corenet_tcp_connect_http_port(worm_t)
dev_read_urand(worm_t)
fs_getattr_xattr_fs(worm_t)
kernel_read_system_state(worm_t)
